<div class="container">
    <div class="row border-bottom-1 border border-primary">
        <div class="col"></div>
        <div class="col text-center pb-5">
            <h1 class="primary-text ">Loren Ipsum </h1>
        </div>
        <div class="col"></div>
    </div>

    <div class="row" *ngIf="loaded">
        <h2 class="primary-text ">Top Collection </h2>
        <div class="col text-center" *ngFor="let i of ntfListView">
            <img class="" [src]="i.logo" alt="" class="img-thumbnail size">
            <div class="text-center pointer" (click)="navigate(i.id)">{{i.name}}</div>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <div class="pagination">
                <span *ngIf="pageList.length>1 && activePage!=pageList[0]" (click)="prevPage()">&laquo;</span>
                <ng-container *ngFor="let p of pageList;">
                    <span *ngIf="activePage==p" [ngClass]="activePage==p?'activePage':''">{{p}}</span>
                    <span *ngIf="activePage!=p" [ngClass]="activePage==p?'activePage':''"
                        (click)="pageclick(p)">{{p}}</span>
                </ng-container>
                <span *ngIf="pageList.length>1 && activePage!=pageList[pageList.length-1]"
                    (click)="nextPage()">&raquo;</span>
            </div>
        </div>
    </div>




</div>