.size{
    height: auto;
    width: 300px;
}


.pagination {
    display: inline-block;
  }
  
.pagination span {
    display: inline-block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    background-color: blueviolet;
    border-color: black;
    border: 1px solid white;
    border-radius: 10px ;
    margin: 2px;
    cursor:pointer;
    color: white;
}

.activePage{
color:yellow!important;
cursor:default!important;
}
