<div class="container">
    <div class="row border-bottom-1 border border-primary">
        <div class="col"></div>
        <div class="col text-center pb-5">
            <h1 class="primary-text ">Dettaglio </h1>
        </div>
        <div class="col"></div>
    </div>
</div>


<div class="row" *ngIf="element">
    <h2 class="primary-text text-center">{{element.name}} </h2>
    <div class="col text-center">


        <div [innerHTML]="element | prettyprint"></div>
    </div>
</div>